/****************GLOBAL****************/
:root {
    --titles-color: black;
    --texts-color: black;
    --header-footer-color: #0FA3B1;
    --background-darker-color: #B5E2FA;
    --background-lighter-color: #F9F7F3;

}

h1, h2 {
    color: var(--titles-color);
    font-weight: bold;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}

p, figcaption {
    color: var(--texts-color);
}
p {
    text-align: justify;
    font-size: 2rem;
    white-space: pre-wrap;
}


/***********PAGINA INDIVIDUAL***********/
html#pagina-individual header,footer {
    background-color: var(--header-footer-color);
}

/* HEADER */
html#pagina-individual header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html#pagina-individual ul#menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

html#pagina-individual ul#menu>a {
    color: var(--titles-color);
    text-decoration: none;

    font-size: 1.5rem;
}

/* MAIN */
html#pagina-individual main {
    background-color: var(--background-lighter-color);
}

html#pagina-individual div#perfil {
    padding: 15px 100px;
    background-color: var(--background-darker-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    ::after {
        content: "";
        clear: both;
        display: block;
    }
}
html#pagina-individual div#perfil p {
    width: 60%;
}
html#pagina-individual figure {
    width: 20%;
}
html#pagina-individual figure#foto-de-perfil {
    float: left;
}
html#pagina-individual figure#foto-de-perfil>img {
    border-radius: 100%;
    width: 100%;
}
html#pagina-individual figure#foto-de-perfil>figcaption {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}


html#pagina-individual div#hobbies-e-top5 {
    padding: 10px 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;

    overflow: auto;
}

html#pagina-individual div#hobbies-e-top5 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html#pagina-individual div#hobbies-e-top5 h2 {
    width: max-content;
}
html#pagina-individual div#hobbies-e-top5 div#hobbies>h2 {
    align-self: flex-end;
}
html#pagina-individual div#hobbies-e-top5 div#top5>h2 {
    align-self: flex-start;
}
html#pagina-individual div#hobbies-e-top5 div#hobbies>ul {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 30px;
}
html#pagina-individual div#hobbies-e-top5 div#top5>ol {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}
html#pagina-individual div#hobbies-e-top5 div#top5>ol h1 {
    font-size: 2rem;
    background-color: var(--background-darker-color);
    align-self:auto;
}

html#pagina-individual div#hobbies-e-top5 figure {
    width: 150px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
html#pagina-individual div#hobbies-e-top5 img {
    width: 100%;
    height: 100%;

    border-radius: 10%;
}
html#pagina-individual div#hobbies-e-top5 figcaption {
    font-size: 1.5rem;
    text-align: center;
}

/* FOOTER */
html#pagina-individual footer {
    bottom: 0;
    width: 100%;
}
html#pagina-individual div#menu-footer {
    padding: 15px 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

html#pagina-individual div#menu-footer ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
html#pagina-individual div#menu-footer img {
    width: 50px;
    border-radius: 100%;
}
html#pagina-individual div#menu-footer a#contato {
    font-size: 2rem;
}


/*****************MEDIA*****************/
@media only screen and (orientation: portrait) {
    html#pagina-individual div#perfil {
        flex-direction: column;
    }
    html#pagina-individual div#perfil p {
        width: 100%;
    }
    html#pagina-individual figure#foto-de-perfil {
        width: 80%;
    }

    html#pagina-individual div#hobbies-e-top5 {
        flex-direction: column;
    }
    html#pagina-individual div#hobbies-e-top5 div#hobbies>ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    html#pagina-individual div#hobbies-e-top5 div#hobbies h2 {
        align-self: flex-start;
    }

    html#pagina-individual div#hobbies-e-top5 div#top5>ol {
        flex-wrap: wrap;
    }

}
